@charset "utf-8";

/* CSS Document */
@media (max-width: 1199px) {
.header-top .col + .col {
	width: 30%;
	-ms-flex-preferred-size: inherit;
	flex-basis: auto;
	-ms-flex-positive: inherit;
	flex-grow: inherit;
}
.navbar-light .navbar-nav .nav-link { padding: 15px 13px; font-size: 13px;}
}

@media (max-width: 991px) {
.header-top ul li {
	font-size: 10px;
	padding: 0;
}
.header-top ul.social-links li a {
	width: 33px;
	font-size: 12px;
}
.navbar-light .navbar-brand { display: block; margin-left: 15px;}
.navbar-light .navbar-toggler { background-color: #fbba05;
    padding: 4px 8px;
    border-radius: 0;}
.message, .project { margin: 10px 0;}
.title h3 { font-size: 19px;}
.blogpost { margin-bottom: 15px;}
.sponsor-title { height: 53px;    width: 100%; text-align: center;}
.sponsor-title h3 {line-height: 53px;   }
.sponsor-title:before { border: none;}
.sponsor_list ul li {
    width: 31%;
}
.bottom-footer p { float: none !important;}
}

@media (max-width: 767px) {
	.logo {
    width: 271px;
}

	.donate-wrapper { position: static;}
}

@media (max-width: 575px) {
.header-top .col {
	width: 100% !important;
	-ms-flex-preferred-size: inherit;
	flex-basis: auto;
	-ms-flex-positive: inherit;
	flex-grow: inherit;
}
.header-top ul li {
	padding: 4px 0px;
}
.right-top {
	text-align: left !important;
}
.header-top ul.social-links li a {
	font-size: 12px;
	border: none;
}
.mid-header .btn-wrapper, .header-top {
    display: none;
}
}
